@import url('https://fonts.googleapis.com/css?family=Inter:700|Inter:400');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #131209;
  --text-color: #f0f0dd;

  --primary-color: #d4d1a0;
  --secondary-color: #357078;
  --tertiary-color: #5262b2;
}

body {
  font-family: 'Inter';
  font-weight: 400;
  background: var(--background);
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Inter';
  font-weight: 700;
}

html {
  font-size: 100%;
} /* 16px */

h1 {
  font-size: 3.053rem; /* 48.8px */
}

h2 {
  font-size: 2.442rem; /* 39.04px */
}

h3 {
  font-size: 1.954rem; /* 31.2px */
}

h4 {
  font-size: 1.563rem; /* 24.96px */
}

h5 {
  font-size: 1.25rem; /* 20px */
}

small {
  font-size: 0.8rem; /* 12.8px */
}
